body {
	font-family: helvetica neue, helvetica, arial, san-serif;
	color: $fg-color;
	background-color: $bg-color;
	text-align: center;
	}

h1, h2, h3, h4, h5 {
	font-weight: lighter;
	}

.display-none {display: none; }
