.app {
	header, footer, section {
		width: 100%;
		position: fixed;
	}

	header {
		background: #aaa;
		top: 0;
		height: 2em;

		li:first-child {
			float: left;
		}

		li:last-child {
			float:right;
		}
	}

	section {
		top: 0;
		bottom: 0;
		overflow: scroll;
	}

	footer {
		bottom: 0;
		padding: .5em;
		font-size:.85em;
		background:rgba($bg-color,.85);
		color:$new-c;
		a {
			display:block;
			padding:.5em;
			margin:-.5em;
		}
	}
	a {
		text-decoration:none;
		color:inherit;
	}
}

#container {
	//max-width: 1080px;
	margin: 0 auto;
	overflow: auto;
	//padding: .1em;
	overflow: hidden;
	}

.item {
	width: 33.333%;
	height: 0;
	padding-bottom: 33.333%;
	display: block;
	float: left;
	//margin: .1em;
	overflow: hidden;
	position: relative;
	box-shadow: -1px -1px 0 0 rgba(0,0,0,.35) inset;
	transition:all .1s;
	p { position: absolute; }

	h2 {
		font-size: 3.5vw;
		padding: .3em;
		opacity: .8;
		margin-bottom: .4em;
		}

	label { font-weight: lighter;}
	.int { font-size: 5vw;}
	.string { font-size: 4vw;}
	&.flash {
		background:$new-c;
	}
}


.tally {
	background: $tally-c;
}
.scale {
	background: $scale-c;
}
.binary {
	background: $binary-c;
}
.new {
	background: $new-c;
	color:rgba($bg-color,.65);
}
.edit-cue {
	position:absolute;
	right:0;
	bottom:0;
	padding:.5rem;
	&:hover {
		background:rgba(#FFF, .15);
	}
}



@media all and (max-width: 1020px) {
  .item {
  	width: 50%;
  	padding-bottom: 50%;

  	h2 {
  		font-size: 7vw;
  		margin: .4em .2em .4em;
  	}
	.int { font-size: 12vw;}
	.string { font-size: 12vw;}
  }
}
