@import "tile-new";

// OVERLAY UI
.overlay {
	display: none;
	header {
		padding: .5rem;
		text-align: right;
		font-size: 1.2em;
	}
	section {
		background: rgba($new-c, .5);
	}
	footer {
		padding: .5rem;
		font-size: .85em;
	}
	&.new {
		background: $new-c;
		color:$bg-color;
	}
	&.binary {
		background: $binary-c;
	}
	&.tally {
		background: $tally-c;
	}
	&.scale {
		background: $scale-c;
	}
}

// FLEX LAYOUT CONTROLS
.overlay {
	-webkit-flex-direction:column;
	flex-direction:column;
	position:fixed;
	top:0;
	right:0;
	bottom:0;
	left:0;
	section {
		-webkit-flex:1;
		flex:1;
	}
}

.overlay-open {
	.overlay {
		display:-webkit-flex;
		display:flex;
	}
	.app {
		// -webkit-filter:blur(1.5em);
	}
}
