@import "tile-new";


.overlay {
	display:none;
	-webkit-flex-direction:column;
	flex-direction:column;
	position:fixed;
	top:0;
	right:0;
	bottom:0;
	left:0;
	background:rgba($new-c, .85);
	color:#334;
	header {
		background:rgba($bg-color,.85);
		color:#9CF;
		padding:.5rem;
		text-align:right;
		font-size:1.2em;
	}
	section {
		flex:1;
	}
	footer {
		background:rgba($bg-color,.85);
		color:rgba(#FFF,.35);
		padding:.5rem;
		font-size:.85em;
	}
}

.overlay-open {
	.overlay {
		display:-webkit-flex;
		display:flex;
	}
	.app {
		// -webkit-filter:blur(1.5em);
	}
}
