@import "tile-new";

// OVERLAY UI
.overlay {
	display: none;
	header {
		padding: .5rem;
		text-align:left;
		font-size: 1.2em;
	}
	section {
		background: rgba($new-c, .5);
	}
	footer {
		padding: .5rem;
		font-size: .85em;
	}
	.x {
		position:absolute;
		top:0;
		right:0;
		padding:.5rem;
		color: $new-c;
		cursor:pointer;
	}
	&.new {
		background: $new-c;
		color:$bg-color;
		header,
		footer {
			background: rgba($bg-color, .85);
			color: $new-c;
		}
	}
	&.binary {
		background: $binary-c;
	}
	&.tally {
		background: $tally-c;
	}
	&.scale {
		background: $scale-c;
	}
}

// FLEX LAYOUT CONTROLS
.overlay {
	position:fixed;
	top:0;
	right:0;
	bottom:0;
	left:0;
	.overlay-body {
		display:-webkit-flex;
		display:flex;
		position:relative;
		-webkit-flex-direction: column;
		flex-direction: column;
		height:100%;
		section {
			-webkit-flex: 1;
			flex: 1;
		}
	}
}

// OVERLAY OPEN MECHANICS
.overlay-open {
	.overlay {
		display:block;
	}
	.app {
		// -webkit-filter:blur(1.5em);
	}
}
